/* main.css */

body {
    background: #FFEEE7;
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


div {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
img {
    width: 140px; 
    margin-bottom: 30px; 
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


form {
    width: 50%;
    display: grid;
    grid-gap: 10px;
    justify-items: center; 
    margin: 20px auto; /* Agregado un margen superior e inferior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

  }
  
  label, input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: coral;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #CA9178;
  }
  
  .text-red-600 {
    color: #e53e3e; /* O el color que prefieras para los mensajes de error */
  }

  @media only screen and (max-width: 600px) {
    div {
      width: 100%;
    }
  
    form {
      width: 80%;
    }
    img {
        width: 160px; /* Ajusta el tamaño según tus preferencias para dispositivos móviles */
        margin-bottom: 30px; /* Ajusta el margen inferior según tus preferencias para dispositivos móviles */
      }
  }